* {
  box-sizing: border-box;
  line-height: calc(1em + 1ex);
}

.container{
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}

.editor{
  left: 0;
  width: 50%;
}

.editor, .previewer{
  bottom: 0;
  overflow: auto;
  position: fixed;
  top: calc(3em + 3ex);
}

.previewer{
  left: 50%;
  margin-left: 10px;
  right: 0;
}

.labelContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
}